<form action="" method="post">
                            {% csrf_token %}

                            {% if post %}
                                <input type="hidden" name="_method" value="PUT" >
                            {% endif %}
                                <div class='form-group'>
        <label for='title'> Title: </label>
        {{ form.title }}

                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='slug'> Slug: </label>
        {{ form.slug }}

                    {% if form.slug.errors %}
                        {% for error in form.slug.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='content'> Content: </label>
        {{ form.content }}

                    {% if form.content.errors %}
                        {% for error in form.content.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='author'> Author: </label>
        {{ form.author }}

                    {% if form.author.errors %}
                        {% for error in form.author.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='category'> Category: </label>
        {{ form.category }}

                    {% if form.category.errors %}
                        {% for error in form.category.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='is_published'> Is_published: </label>
        {{ form.is_published }}

                    {% if form.is_published.errors %}
                        {% for error in form.is_published.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='tags'> Tags: </label>
        {{ form.tags }}

                    {% if form.tags.errors %}
                        {% for error in form.tags.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='image'> Image: </label>
        {{ form.image }}

                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='created_at'> Created_at: </label>
        {{ form.created_at }}

                    {% if form.created_at.errors %}
                        {% for error in form.created_at.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>    <div class='form-group'>
        <label for='updated_at'> Updated_at: </label>
        {{ form.updated_at }}

                    {% if form.updated_at.errors %}
                        {% for error in form.updated_at.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                    {% endif %}
            </div>
                            
                            <div>
                            {% if post %}
                                <button class="btn btn-success my-2">Update</button>
                            {% else %}
                                <button class="btn btn-success my-2">Create</button>
                            {% endif %}
                                
                            <a href="{% url post_index %}" class="btn btn-danger my-2">Cancel</a>
                        </div>
                        </form>
                        {% block scripts %}
                        <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>

                        <script>
                            $(document).ready(function() {
                                $('select').select2();
                            });

                        </script>
                        <script>
                            const editors = document.querySelectorAll('textarea')

                            editors.forEach(editor => {
                                editor.removeAttribute('required')
                                ClassicEditor
                                    .create(editor)
                                    .catch( error => {
                                        console.error( error );
                                    } );
                                
                            });
                        </script>
                        {% endblock %}
                        