{% extends "blog/admin.html" %}
{% load static %}

{% block content %}

{% include "blog/admin/paginator.html" with datas=posts %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="d-flex my-2 justify-content-end">
    <a href="{% url post %}" class="btn btn-success">Create Post</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td scope="col">#</td>
            <th scope='col'>title</td>
            <th scope='col'>slug</td>
            <th scope='col'>content</td>
            <th scope='col'>author</td>
            <th scope='col'>category</td>
            <th scope='col'>is_published</td>
            <th scope='col'>tags</td>
            <th scope='col'>image</td>
            <th scope='col'>created_at</td>
            <th scope='col'>updated_at</td>

            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for post in posts %}
        <td scope="col">{{ post.id }}</td>
        <td scope='col'>{{ post.title}}</td>
        <td scope='col'>{{ post.slug}}</td>
        <td scope='col'>{{ post.content}}</td>
        <td scope='col'>{{ post.author}}</td>
        <td scope='col'>{{ post.category}}</td>
        <td scope='col'>{{ post.is_published}}</td>
        <td scope='col'>{{ post.tags}}</td>
        <td scope='col'>{{ post.image}}</td>
        <td scope='col'>{{ post.created_at}}</td>
        <td scope='col'>{{ post.updated_at}}</td>
        <td>
            <a href="{% url 'post_view' post.id %}" class="btn btn-success">View</a>
            <a href="{% url 'post_edit' post.id %}" class="btn btn-primary">Edit</a>
            <form action="{% url 'post_delete' post.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Delete</button>
            </form>
        </td>
        {% endfor %}

    </tbody>
</table>
{% include "blog/components/paginator.html" with datas=posts %}


{% endblock %}